[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-marshmallow = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
psycopg2 = "*"
flask-migrate = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
pytest = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
